/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* now 1.5rem = 15px */
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body, .date, .infos-post, .infos-post div, .cardText-container .btn-picture {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: rgba(76, 0, 130, 0.1) 1px solid;
  overflow: hidden;
}

.card-container:hover .picture-card {
  -webkit-transform: translateY(50px) scale(1.7);
          transform: translateY(50px) scale(1.7);
}

.card-container:hover .cardText-container {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.card-container:hover .cardText-container .text-hidden {
  opacity: 1;
}

nav {
  position: absolute;
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  z-index: 2;
}

.date {
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 50px;
  background-color: #e24f40;
}

.date p {
  width: 50%;
  color: white;
  font-size: 1.2rem;
}

.infos-post {
  background-color: white;
  border: rgba(76, 0, 130, 0.1) 1px solid;
  border-top: none;
  width: 300px;
  height: 30px;
}

.infos-post div {
  width: 150px;
  height: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 10px;
  opacity: 0.5;
  font-size: 1.2rem;
  font-weight: 500;
}

.infos-post div img {
  margin: 0 10px;
  width: 12px;
}

.img-container {
  width: 300px;
  height: 60%;
  overflow: hidden;
}

.img-container .picture-card {
  margin: auto;
  -webkit-transform: translateY(50px) scale(1.5);
          transform: translateY(50px) scale(1.5);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.cardText-container {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding: 20px;
  background-color: white;
  height: 400px;
  width: 300px;
}

.cardText-container .btn-picture {
  position: relative;
  top: -35px;
  left: -20px;
  width: 80px;
  height: 30px;
  margin: 0;
  background-color: #e24f40;
}

.cardText-container .btn-picture p {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}

.cardText-container h1 {
  font-size: 2rem;
  margin: -20px 0 10px 0;
}

.cardText-container h2 {
  font-size: 1.6rem;
  color: #e24f40;
}

.cardText-container .text-hidden {
  line-height: 2.5rem;
  font-size: 1.35rem;
  font-weight: 500;
  color: #7f7f7f;
  margin-top: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
/*# sourceMappingURL=style.css.map */